<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646051621158-i8h3uu898vj19sqtm5ff5f1irv2r51h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646051621158-i8h3uu898vj19sqtm5ff5f1irv2r51h8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>646051621158-0087ev451b8ifsmtl9eheom32a4di3lf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCx0ixVAMmMxvhppS7XdhB6EkzW1G54nPc</string>
	<key>GCM_SENDER_ID</key>
	<string>646051621158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ali-Ahmed.PurePetsPro</string>
	<key>PROJECT_ID</key>
	<string>pure-pets-49199</string>
	<key>STORAGE_BUCKET</key>
	<string>pure-pets-49199.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646051621158:ios:195e00330476b7ddad39e7</string>
	<key>DATABASE_URL</key>
	<string>https://pure-pets-49199-default-rtdb.firebaseio.com</string>
</dict>
</plist>